body {
    background-color: #111;
    color: #eee;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ddd;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}

.carousel-inner img {
    height: 450px;
    object-fit: cover;
    filter: brightness(80%);
}

.card {
    background-color: #1b1b1b;
    color: #eee;
    border: 1px solid #333;
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}

.gallary-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}